<!DOCTYPE html>
<html lang="en">
<head>
  <title>ShopWise</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="C:/Users/Mr Prajakta/Desktop/ShopWiseFlask/static/homepage.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='homepage.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
      <div class="navbar-brand"><img src="https://vignette4.wikia.nocookie.net/logopedia/images/2/21/Shopwise_logo.png/revision/latest?cb=20150101094421" id="logo"><!--p id="headerShopWise">ShopWise</p></img ></div-->
   </div>
   <div class="col-xs-6 col-xs-offset-1">
    <ul class="nav navbar-nav">
            
        <div class="input-group" style="margin-top:20px;">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span id="search_concept">All Categories</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="">Cars</a></li>
                      <li><a href="">Mobile</a></li>
                      <li><a href="">Books</a></li>
                      <li><a href="">Real Estate </a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">         
                <input type="text" class="form-control" name="x" placeholder="Search..">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
    
    </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
     <li><button class="btn btn-danger navbar-btn" href="#signup" data-toggle="modal" data-target=".bs-modal-sm" style="margin-top:20px;margin-right:20px">Sign In/Register</button></li>
    </ul>
</div>
</nav>
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal" action="{{ url_for('login') }}" method="post">
            <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
             <div class="control-group" >
              <label class="control-label">Username:</label>
              <div class="controls">
                <input id="username" name="username" class="form-control" type="text" class="input-large" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label">Password:</label>
              <div class="controls">
                <input required="" id="password" name="password" class="form-control" type="password" class="input-medium">
              </div>
            </div>

            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <button id="confirmsignin" name="confirmsignin" class="btn btn-success">Sign In</button>
              </div>
            </div>
			
            </fieldset>
            </form>
			<!--button id="signin" name="signin" class="btn btn-success"  onclick="window.location.href='userHomePage.html'" >Sign In</button-->
        </div>
        <div class="tab-pane fade" id="signup">
            <form class="form-horizontal" action="{{ url_for('register') }}" method="post">
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label">FirstName:</label>
              <div class="controls">
                <input id="firstname" name="firstname" class="form-control" type="text"  class="input-large" required="">
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label">LastName:</label>
              <div class="controls">
                <input id="lastname" name="lastname" class="form-control" type="text" class="input-large" required="">
              </div>
            </div>
			
			<!-- Text input-->
            <div class="control-group">
              <label class="control-label" >UserName:</label>
              <div class="controls">
                <input id="lastname" name="username" class="form-control" type="text" class="input-large" required="">
              </div>
            </div>
			
			
            
            <!-- Password input-->
            <div class="control-group">
              <label class="control-label">Password:</label>
              <div class="controls">
                <input id="password" name="password" class="form-control" type="password" class="input-large" required="">
                <em>1-8 Characters</em>
              </div>
            </div>
            
            
            <br>
            
            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
              </div>
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>






<div class="container" id="map-container">  
<!-- Vertical Menu-->  
	<div class="col-sm-3">
	<div class="well">
	<ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="">Categories</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Homes</a></li>
        <li><a href="#">Cars</a></li>
		<li><a href="#">Bikes</a></li>
		<li><a href="#">Mobiles and Tablets</a></li>
		<li><a href="#">Furniture</a></li>
		<li><a href="#">Kids and Toys</a></li>
		<li><a href="#">Electronics</a></li>
		<li><a href="#">Education</a></li>
		<li><a href="#">Salon at Home</a></li>
		<li><a href="#">Pets and Pet Care</a></li>
		<li><a href="#">Entertainment</a></li>
		<li><a href="#">Events</a></li>
      </ul>
</div>
</div>
	<div class="col-sm-9">
	
<!--First Carousel-->
	<div class="container" style=" margin-bottom:20px; "><div class="row"><h4> Everything About Cars !</h4></div></div>
    <div id="myCarousel1" class="carousel slide">
    	<div id="myCarousel1" class="carousel slide" data-interval="false" >
	  <div class="carousel-inner" role="listbox">
			<div class="item active">
			  <div class="row" >
			
			
            <div class="col-md-4">
			
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img  class="imgProducts" src="https://farm6.staticflickr.com/5160/7070770795_18e1803126_b.jpg"  />
                    </div>
                    <div class="panel-body">  
                         <h4>Maruti Ertiga</h4><p style="color:red"> Price: 6.50 lakhs</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class="imgProducts" src="https://farm4.staticflickr.com/3904/14979006637_073132160f_b.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4>Maruti Celerio</h4>
                        <p style="color:red">Price:4.65 lakhs</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class ="imgProducts"src="https://www.motoroids.com/wp-content/uploads/2014/03/New-2014-Honda-City-exterior-30.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4>Honda City i-DTEC </h4>
                        <p style="color:red">Price:5.25 lakhs</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            
			</div>
			</div>
			<div class="item">
			  <div class="row">
            <div class="col-md-4 ">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class ="imgProducts" src="http://1.bp.blogspot.com/-YzofyyY6uAk/VkyIqJ68i1I/AAAAAAABPJw/Z0ihjIi_Dy8/w800/2016-Chevy-Cruze-105.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4>Chevrolet Cruze</h4>
                        <p style="color:red" >Price:5.25 lakhs</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            
 
        </div>
			</div>


		  </div>
			
			

		  <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
			<span  aria-hidden="true"><i class="fa fa-chevron-circle-left"></i>
</span>
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
			<span  aria-hidden="true"><i class="fa fa-chevron-circle-right"></i>
</span>
			<span class="sr-only">Next</span>
		  </a>
	</div>
    </div>
	<!--Second Carousel-->
	<div class="container" style=" margin-bottom:20px; "><div class="row" style="margin-right:40px;"><h4>Residential And Commercial Properties</h4></div></div>
    <div id="myCarousel2" class="carousel slide">
    	<div id="myCarousel2" class="carousel slide" data-interval="false">
	  <div class="carousel-inner" role="listbox">
			<div class="item active">
			  <div class="row" >
			
			
            <div class="col-md-4 ">
			
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class ="imgProducts"src="https://imganuncios.mitula.net/3_bhk_apartment_4640067484956370783.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4>Renuka Appartments,Pimpri</h4> 
						<p style="color:red">44.5L-96.8L</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class ="imgProducts" src="https://www.99acres.com/customised/dreams-group-dreams-rhythm-pune-residential-property/gifs/slide-2.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4>Dhaval Appartment,Wagholi</h4>
                        <p style="color:red">24.8L-38L</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class ="imgProducts" src="http://www.bisell.in/AdImages/2-bhk-residential-apartment-in-kondhwa-pune-pune-13704392016111243.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4>Purple Touch,Aundh</h4>
                        <p style="color:red">84.2L-97.6L</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            
        
			</div>
			</div>
			<div class="item">
			  <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class ="imgProducts" src="https://www.99acres.com/microsite/malhar-villa-jejuri-pune-residential-property/files/2013/03/elev1.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4>Sai Laurel Park,New Sangvi</h4>
                        <p style="color:red">87.5L-99.4L</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class ="imgProducts" src="https://housing.dasa.ncsu.edu/wp-content/uploads/sites/25/2016/12/APT-WR.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4>Shubham Appartment, Baner</h4>
                        <p style="color:red">89.7L-95.3L</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
			</div>


		  </div>
			
			

		  <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
			<span  aria-hidden="true"><i class="fa fa-chevron-circle-left"></i>
</span>
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
			<span  aria-hidden="true"><i class="fa fa-chevron-circle-right"></i>
</span>
			<span class="sr-only">Next</span>
		  </a>
	</div>
    </div>
	
	<!--Third Carousel-->

	<div class="container" style=" margin-bottom:20px; "><div class="row" style="margin-right:40px;"><h4>Get Your Dream Gadgets</h4></div></div>
    <div id="myCarousel3" class="carousel slide">
    	<div id="myCarousel3" class="carousel slide" data-interval="false">
	  <div class="carousel-inner" role="listbox">
			<div class="item active">
			  <div class="row" >
			
			
            <div class="col-md-4">
			
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
					
                      <img class ="imgProducts" src="http://1.bp.blogspot.com/-SjYo4adJOdI/UL-EgS0dZ0I/AAAAAAAAA14/_Qxlthx__eE/s1600/htc-one-x-review-66-1020_large_verge_super_wide.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4>HTC one-X</h4>
                        <p style="color:red">Price:₹4560</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class ="imgProducts" src="https://www.nierle.com/pic/25759b.jpg" />
                    </div>
                    <div class="panel-body">
                        <h4>Silicon Pen Drive</h4>
                        <p style="color:red">Price:₹550</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class ="imgProducts" src="http://cdn1.expertreviews.co.uk/sites/expertreviews/files/2016/09/best_printers_2016_-_best_photo_printer_under_100_-_canon_pixma_mg5750.jpg?itok=xy61loBV" />
                    </div>
                    <div class="panel-body">
                        <h4>Canon Printers</h4>
                        <p style="color:red">Price:₹6700</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
          
        
			</div>
			</div>
			<div class="item">
			  <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img class ="imgProducts" src="http://consumer-res.huaweistatic.com/fr/ucmc/groups/public/documents/supportproduct/nova-fr-sup.png?2017-03-08:10-16" />
                    </div>
                    <div class="panel-body">
                        <h4>Huawei Z543</h4>
                        <p style="color:red">Price:₹3700</p>
                        <a class="btn btn-primary" href="#">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
			</div>


		  </div>
			
			

		  <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
			<span  aria-hidden="true"><i class="fa fa-chevron-circle-left"></i>
</span>
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
			<span  aria-hidden="true"><i class="fa fa-chevron-circle-right"></i>
</span>
			<span class="sr-only">Next</span>
		  </a>
	</div>
    </div>
	
</div>
</div>
<footer style="background-color: black; margin-top: 10px; color:white;">
<center>  © 2017, ShopWise, All rights reserved</center>
</footer>
</body>

</html>